name: Run Appium tests (iOS Simulator)

on:
  workflow_dispatch:
    inputs:
      spec:
        type: string
        description: Glob pattern to run spec
        required: false
        default: '/features/**/*.feature'
      device:
        type: choice
        description: Device to run
        required: true
        default: 'iPhone 14'
        options:
          - 'iPhone 14'
          - 'iPhone 14 Pro'
          - 'iPhone SE (3rd generation)'
      os_version:
        type: choice
        description: OS version for device
        required: true
        default: '16.4'
        options:
          - '16.4'
          - '17.0'
      

jobs:
  ios-appium-tests:
    timeout-minutes: 20
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: 18.12.1

      - name: Install dependencies
        uses: bahmutov/npm-install@v1.8.28    

      - uses: futureware-tech/simulator-action@v2
        with:
          model: ${{ inputs.device }}
          os: 'iOS'
          os_version: ${{ inputs.os_version }}
          shutdown_after_job: true
        
      - name: Build WebDriverAgent (iOS simulator)
        run: |
         chmod +x ${PWD}/.github/scripts/build_wda_sim.sh
         ${PWD}/.github/scripts/build_wda_sim.sh
        env:
          DEVICE_NAME: ${{ inputs.device }}
        shell: bash

      - name: Download app from Codemagic (iOS Simulator)
        run: node ${PWD}/scripts/load-ios-app.mjs
        env:
          CODEMAGIC_API_KEY: ${{ secrets.CODEMAGIC_API_KEY }}
          APP_NAME: 'appium-flutter-ci-app'
          WORKFLOW_NAME: 'sim_emu_dev_driver'
          APP_TYPE: 'app'
      
      - name: Get app dir
        run: |
          ls app
        shell: bash
      
      # - name: Run Appium tests (iOS)
      #   run: WDIO_LOG_LEVEL='debug' npm run test:ios -- --spec features/counter.feature

      # - name: Archive test report
      #   if: always()
      #   uses: actions/upload-artifact@v3.1.2
      #   with:
      #     name: cucumber-report
      #     path: ./reports

      # - name: Archive appium
      #   if: always()
      #   uses: actions/upload-artifact@v3.1.2
      #   with:
      #     name: appium-logs
      #     path: ./logs
